<h4>Quote
</h4>
<p>
  {{quotes.quote}}
</p>
<p>
  publisher <br>
  {{quotes.publisher}}
</p>
<p>
  Author <br>
  {{quotes.author}}
</p>
<div class="container">
  <div class="row">
<div class="col-md-6">
  <button type="button" class="btn btn-default">
    <span class="fas fa-thumbs-up"></span>
  </button>
</div>
<div class="col-md-6">
    <button type="button" class="btn btn-default">
      <span class="fas fa-thumbs-down"></span>
    </button>
</div>
<button (click)= 'quoteDelete(true)'> Delete Quote </button>
